<h1>Lunch Hub</h1>

<p>
  Tell me if this sounds familiar: you're feeling a little stir crazy at your desk
  and you want to get out of the office for lunch. You ask your buddy Andy if he has any lunch plans.
  "Man, I wish I could," he says, "but I gotta get some stuff done."
</p>

<p>
  So you walk over to Dave's desk but he's gone. "Has anybody seen Dave?" you ask. Nobody knows where Dave went. Dave!!!
</p>

<p>
  Finally, Andy says screw it and decides to come along.
  You stop by Mike's desk on the way out and ask if he wants to join. "Where are you guys going?" Mike asks.
  "I don't know, maybe Stella's?" you say.
  "How about Bangkok Taste?" Mike suggests. Deal. Just then, Nate, Steve, Alex walk through the door. "Hey, where did you guys go for lunch?"
  you ask. "Bangkok Taste!" Nate shouts. <i>You guys could have all just gone together in the first place!</i>
</p>

<p>
  Wouldn't it be nice to just be able to <b>see who's up for lunch</b> and <b>where they want to go </b> each day so you don't have to think about it?
</p>

<h2>Get notified of launch.</h2>
<%= render 'form' %>
