.beta {
  h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: #FFF;
  }
  h1 {
    a {
      &:hover {
        background: none;
        text-decoration: none;
      }
      color: #FFF;
    }
    margin-top: 20px;
    font-size: 70px;
    text-transform: uppercase;
  }
  h2 {
    color: #FFAB73;
    font-size: 36px;
  }
  h2 {
    margin-bottom: 60px;
  }
  #error_explanation {
    width: 100%;
  }
  .field_with_errors {
    display: block;
  }
  p {
    font-size: 18px;
  }
}

#get-notified, p {
  width: 410px;
}

#get-notified {
  h3 {
    margin-bottom: 40px;
  }
  border-radius: 20px;
  background-color: #1D7373;
  padding: 20px;
}
