<!DOCTYPE html>
<html ng-app="lunchHub">
<head>
  <title>Lunch Hub</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Lunch Hub</h1>
  <div ng-view>
    <%= yield %>
  </div>
</div>

</body>
</html>
