<!DOCTYPE html>
<html ng-app="lunchHub" ng-controller="titleCtrl">
<head>
  <title>{{ Page.title() }}</title>
  <%= render 'layouts/head' %>
</head>
<body>

<%= render "layouts/nav" %>

<div class="container">
  <h1 ng-controller="titleCtrl">{{ Page.title() }}</h1>
  <div ng-view>
    <%= yield %>
  </div>
</div>

</body>
</html>
