<!DOCTYPE html>
<html>
<head>
  <title>Lunch Hub</title>
  <%= render 'layouts/head' %>
</head>
<body>

<div class="container beta">
  <h1><%= link_to "Lunch Hub", root_path %></h1>
  <h2>Plan Lunch With Friends</h2>
  <%= yield %>
</div>

</body>
</html>
